{% if datavault4coalesce.config.database_type == 'SNOWFLAKE' %}
    {{ datavault4coalesce__snowflake_pit_run() }}
{% elif datavault4coalesce.config.database_type == 'DATABRICKS' %}
    {{ datavault4coalesce__databricks_pit_run() }}
{% endif %}