{% if datavault4coalesce.config.database_type == 'SNOWFLAKE' %}
    {{ datavault4coalesce__snowflake_multi_active_satellite_v0_run(node, config, sources) }}
{% elif datavault4coalesce.config.database_type == 'DATABRICKS' %}
    {{ datavault4coalesce__databricks_multi_active_satellite_v0_run(node, config, sources) }}
{% endif %}