{% if datavault4coalesce.config.database_type == 'SNOWFLAKE' %}
    {{ datavault4coalesce__snowflake_record_tracking_satellite_run(node, columns) }}
{% elif datavault4coalesce.config.database_type == 'DATABRICKS' %}
    {{ datavault4coalesce__databricks_record_tracking_satellite_run(node, columns) }}
{% endif %}