{% if config.preSQL %}
  {{ stage('Pre-SQL') }}
  {{ config.preSQL }}
{% endif %}

{% for test in node.tests if config.testsEnabled %}
  {% if test.runOrder == 'Before' %}
    {{ test_stage(test.name, test.continueOnFailure) }}
    {{ test.templateString }}
  {% endif %}
{% endfor %}

{{ stage('Insert New Rows') }}

{%- set loc = storageLocations | selectattr('name', "eq", node.location.name) | list | first -%}
{%- set target_database = loc.database -%}
{%- set target_schema = loc.name -%}
{%- set target_node = node.name -%}

{%- set ns = namespace(sdts_node_name='', hub_node_name='', hub_node_schema='') -%}


INSERT INTO {{ ref_no_link(node.location.name, node.name) }}

WITH 

{%- set ref_satellites_dict = [] -%}

{%- for col in sources[0].columns -%}
    
    {%- if 'column' in col.sourceColumns[0].keys() %}
        {%- if 'is_ref_key' not in col.sourceColumns[0].column.keys() -%}
          {%- set source_node_name = col.sourceColumns[0].node.name -%}
          {%- set source_node_schema = col.sourceColumns[0].node.location.name -%}
          {%- if source_node_name not in ref_satellites_dict -%}
            {%- set _ = ref_satellites_dict.append(source_node_name) -%}
          {%- endif -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor %} 

dates AS (

{% set historized = config.historized -%}

{% if historized in ['Full', 'Latest'] -%}
    {%- set date_column = datavault4coalesce.config.ldts_alias -%}

  {% if historized == 'Full' -%}
    SELECT distinct {{ date_column }} FROM (
  {% elif historized == 'Latest' -%}
    SELECT MAX({{ date_column }}) as {{ date_column }} FROM (
  {%- endif -%}

  {% for satellite in ref_satellites_dict -%}
    SELECT distinct 
        {{ date_column }}
    FROM {{ ref_no_link(node.location.name, satellite) }}
    WHERE {{ date_column }} != {{ datavault4coalesce__string_to_timestamp(datavault4coalesce.config.timestamp_format, datavault4coalesce.config.end_of_all_times) }}
    {% if not loop.last -%} UNION {% endif %}
    {%- endfor %}
    )

 

{%- endif %}
)
, 

 records_to_insert AS (
  SELECT
  {% for col in sources[0].columns %}

    {% if 'column' in col.sourceColumns[0].keys() -%}

      {%- set source_node_name = col.sourceColumns[0].node.name -%}
      {%- set source_node_schema = col.sourceColumns[0].node.location.name -%}
      {%- set source_column_name = col.sourceColumns[0].column.name -%}
      {%- set target_column_name = col.name -%}

      {%- if col.sourceColumns[0].column.is_ref_key -%}
                {%- set ns.hub_node_name = source_node_name -%}
                {%- set ns.hub_node_schema = source_node_schema -%}
        COALESCE("{{ source_node_name }}"."{{ target_column_name }}", {{ datavault4coalesce__unknown_key() }}) AS "{{ target_column_name }}"
      {%- elif col.sourceColumns[0].column.is_hk -%}
        COALESCE("{{ source_node_name }}"."{{ source_column_name }}", {{ datavault4coalesce__unknown_key() }}) AS "{{ target_column_name }}"      
      {%- elif source_column_name == datavault4coalesce.config.ldts_alias -%}
        COALESCE("{{ source_node_name }}"."{{ source_column_name }}", {{ datavault4coalesce__string_to_timestamp(datavault4coalesce.config.timestamp_format, datavault4coalesce.config.beginning_of_all_times) }}) AS "{{ target_column_name }}"
      {%- elif col.name == datavault4coalesce.config.sdts_alias -%}
        "{{ source_node_name }}"."{{ target_column_name }}" AS "{{ target_column_name }}"

                {%- set ns.sdts_node_name = col.sourceColumns[0].node.name -%}

      {%- else -%}
        "{{ source_node_name }}"."{{ source_column_name }}" AS "{{ target_column_name }}"
      {%- endif %}

    {%- if not loop.last -%} , {% endif %}
    {%- elif col.is_ref_key -%}
      {{ get_source_transform(col) }} AS "{{ col.name }}",
    {%- endif %}

    {% endfor %}

  FROM {{ ref(ns.hub_node_schema, ns.hub_node_name) }} "{{ ns.hub_node_name }}"

  {% for col in sources[0].columns -%}
    {%- if col.name == datavault4coalesce.config.sdts_alias -%}

            {%- set source_node_name = col.sourceColumns[0].node.name -%}
      {%- set source_node_schema = col.sourceColumns[0].node.location.name -%}

      JOIN {{ ref(source_node_schema, source_node_name) }} "{{ source_node_name }}"
      ON "{{ source_node_name }}"."{{ datavault4coalesce.config.snapshot_trigger_column }}" = true
    {%- endif -%}
  {% endfor %}

  {%- set joined_tables = [] -%}
  {%- for col in sources[0].columns %}
    
    {%- if 'column' in col.sourceColumns[0].keys() %}
        {%- if 'is_ref_key' not in col.sourceColumns[0].column.keys() and not loop.first -%}
{#      {%- if not col.sourceColumns[0].column.is_ref_key and not loop.first -%} #}
          {%- set source_node_name = col.sourceColumns[0].node.name -%}
          {%- set source_node_schema = col.sourceColumns[0].node.location.name -%}
          {%- if source_node_name not in joined_tables -%}
            {%- set _ = joined_tables.append(source_node_name) -%}
          {%- set target_node = node.name -%}

              
        LEFT JOIN {{ ref(source_node_schema, source_node_name) }} "{{ source_node_name }}"
        ON 1 = 1
        
          {%- for ref_key_col in sources[0].columns %}

            {%- if 'is_ref_key' in ref_key_col.sourceColumns[0].column.keys() and ref_key_col.sourceColumns[0].column.is_ref_key %}
              AND "{{ ns.hub_node_name }}"."{{ ref_key_col.name}}" = "{{ source_node_name }}"."{{ ref_key_col.name}}"
            {%- endif -%}
          {% endfor -%}
        FULL OUTER JOIN dates "ld" ON 1 = 1  
              AND  "ld"."{{ date_column }}" BETWEEN "{{ source_node_name }}"."{{ date_column }}" AND "{{ source_node_name }}"."{{ datavault4coalesce.config.ledts_alias }}"
          {%- endif -%}
            {% endif %}
    {%- endif %}
  {% endfor -%}
)





SELECT * FROM records_to_insert
WHERE "{{ datavault4coalesce.config.ldts_alias }}" > (
        SELECT 
            COALESCE(MAX("{{ datavault4coalesce.config.ldts_alias }}"),  {{ datavault4coalesce__string_to_timestamp(datavault4coalesce.config.timestamp_format, datavault4coalesce.config.beginning_of_all_times) }})
        FROM {{ ref_no_link(node.location.name, node.name) }}
     WHERE "{{ datavault4coalesce.config.ldts_alias }}" != {{ datavault4coalesce__string_to_timestamp(datavault4coalesce.config.timestamp_format, datavault4coalesce.config.end_of_all_times) }}
        )


{% if config.postSQL %}
  {{ stage('Post-SQL') }}
  {{ config.postSQL }}
{% endif %}

{% if config.testsEnabled %}
  {% for test in node.tests %}
    {% if test.runOrder == 'After' %}
      {{ test_stage(test.name, test.continueOnFailure) }}
      {{ test.templateString }}
        {% endif %}
  {% endfor %}

  {% for column in columns %}
    {% for test in column.tests %}
      {{ test_stage(column.name + ": " + test.name) }}
      {{ test.templateString }}
    {% endfor %}
  {% endfor %}
{% endif %}