{% if node.override.create.enabled %}
  
  {{ node.override.create.script }}

{% elif node.materializationType == 'table' %}

{% elif node.materializationType == 'view' %}
    {{ stage('Create Stage View') }}

    CREATE OR REPLACE VIEW {{ ref_no_link(node.location.name, node.name) }}
    (
        {% for col in columns %}
            {%- if col.is_rsrc_column -%}
                "{{datavault4coalesce.config.rsrc_alias}}"
            {%- elif col.is_ldts_column -%}
                "{{datavault4coalesce.config.ldts_alias}}"
            {% else %}
                "{{ col.name }}"
            {% endif %}
            {%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}'{% endif %}
            {%- if not loop.last -%}, {% endif %}
        {% endfor %}

    )
    {%- if node.description | length > 0 %} COMMENT = '{{ node.description | escape }}'{% endif %}
    AS

    WITH 

    {# All columns  that are not hash columns #}

    regular_columns AS (

    {% for source in sources %}
        SELECT
        {% for col in source.columns %}
            {% if not col.hashDetails %}
                {{ get_source_transform(col) }} AS "{{ col.name }}"
                {%- if not loop.last -%}, {% endif %}
            {% endif %}
        {% endfor %}

        {{ source.join }}

    {% endfor %}

    ),

    all_columns AS (
        

    {% for source in sources %}
        {#-------------------- Process multi-activity config --------------------#}
        {#----------------------- FIXME explain variables -----------------------#}
        {%- set multi_active_key = [] -%}
        {%- set main_hashkey_col = namespace(hk_col='') -%}
        {%- if config.contains_multiactive_data -%}
            {%- for col in source.columns -%}
                {%- if col.multi_active_key -%}{%- set multi_active_key = multi_active_key.append(col.name) -%}{%- endif %}
                {%- if col.id == config.main_hk_col.id -%}{%- set main_hashkey_col.hk_col = col.name -%}{%- endif -%}
            {%- endfor -%}
        {%- endif %}
        SELECT
        {% for col in source.columns %}
            {#- Print DV hash calculations -#}
            {% if col.hashDetails %}
                {{ datavault4coalesce__hash(columns=col.hashDetails.columns, is_hashdiff=col.is_hd,datatype=col.dataType, algo=datavault4coalesce.config.hash, multi_active_key=multi_active_key, main_hashkey_col=main_hashkey_col.hk_col) }} AS "{{ col.name }}"
            {#- Print other table columns -#}
            {% else %}
                "{{ col.name }}"
            {% endif %}
            {%- if not loop.last -%}, {% endif %}
        {% endfor %}

        FROM regular_columns

        {% if not loop.last %}
            {% if config.insertStrategy in ['UNION', 'UNION ALL'] %}
                {{ config.insertStrategy }}
            {% else %}
                UNION
            {% endif %}
        {% endif %}

        {%- if config.generate_ghost_records -%}

            UNION ALL 

            SELECT

            {% for source in sources %}
                {% for col in source.columns %}
                    {%- if "hashDetails" in col.keys() %}
                        {{ datavault4coalesce__ghost_record_per_datatype(col.name, col.dataType, 'unknown', hash=true, hash_algo=col.hashDetails.algorithm) }}
                    {%- else -%}
                        {{ datavault4coalesce__ghost_record_per_datatype(col.name, col.dataType, 'unknown', hash=false) }}
                    {%- endif -%}
                {% if not loop.last %},{% endif %}
                {% endfor %}
            {% endfor %}

            UNION ALL 

            SELECT

            {% for source in sources %}
                {% for col in source.columns %}
                    {%- if "hashDetails" in col.keys() %}
                        {{ datavault4coalesce__ghost_record_per_datatype(col.name, col.dataType, 'error', hash=true, hash_algo=col.hashDetails.algorithm) }}
                    {%- else -%}
                        {{ datavault4coalesce__ghost_record_per_datatype(col.name, col.dataType, 'error', hash=false) }}
                    {%- endif -%}
                {% if not loop.last %},{% endif %}
                {% endfor %}
            {% endfor %}

        {%- endif -%}

    {% endfor %}

    )

    SELECT * FROM all_columns

{% endif %}